<!-- <div *ngIf="salman">

  <h2>{{ salman.name | uppercase }} Details</h2>
  <div><span>id: </span>{{salman.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="salman.name" placeholder="name">
    </label>
  </div>

</div> -->