<div>
  <header>
    <h1>Storyline Tracker</h1>
    <h3>Hierarchical Router Demo</h3>
    <nav>
      <ul>
        <li><a [routerLink]="['/characters']" href="">Characters</a></li>
        <li><a [routerLink]="['/vehicles']" href="">Vehicles</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <router-outlet></router-outlet>
    </section>
  </main>
</div>


<!-- 
Copyright 2016 JohnPapa.net, LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://bit.ly/l1cense
-->