<article>
  <h4>My Vehicles</h4>

  <ul class="vehicles">
    <li *ngFor="let vehicle of vehicles">
      <a href="" [routerLink]="[vehicle.id]">
       {{vehicle.id}}. {{vehicle.name}}
      </a>
    </li>
  </ul>
</article>


<!-- 
Copyright 2016 JohnPapa.net, LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://bit.ly/l1cense
-->