<article>
  <div *ngIf="character">
    <h4>{{character.name}} details</h4>

    <div>
      <label for="nametext">Name</label>
      <input type="text" id="nametext" [(ngModel)]="character.name" />
    </div>

    <div>
      <label for="typetext">Side</label>
      <input type="text" id="typetext" [(ngModel)]="character.side" />
    </div>
  </div>
</article>

<!-- 
Copyright 2016 JohnPapa.net, LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://bit.ly/l1cense
-->