<article>
  <h4>My Characters</h4>

  <ul class="characters">
    <li *ngFor="let character of characters | async">
      <a href="" [routerLink]="[character.id]">
       {{character.id}}. {{character.name}}
      </a>
    </li>
  </ul>
</article>


<!-- 
Copyright 2016 JohnPapa.net, LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://bit.ly/l1cense
-->